<html>
    <head>
        <title>hello </title>
    </head>
    <body>
        {% if success is defined %}
        {{ success }} 
        {% endif %}<br>
        <a href="{{ path('logout') }}"> Wyloguj sie  </a>
    </body>
</html>
