<!DOCTYPE html>
<html>
	<head>
		<title> WorkShop - welcome!</title>
	</head>
	<meta charset="UTF-8" />
        {% block links %}
	<link rel="stylesheet" href="{{ asset('bundles/workshopapplication/css/particles.css') }}" />
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic,800,800italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        {% endblock %}
<body>
    
    {% block body %}  {% endblock %}
    
    
    {% block scripts %}{% endblock %}
</div>
</body>
</html>

